<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646832870680-q0jrsjpd0c116rkb83u417pbngm09bj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646832870680-q0jrsjpd0c116rkb83u417pbngm09bj8</string>
	<key>API_KEY</key>
	<string>AIzaSyBx5nu5XvC293Ly_-Yl7ymh1XDA_v1EFlw</string>
	<key>GCM_SENDER_ID</key>
	<string>646832870680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>news-90eec</string>
	<key>STORAGE_BUCKET</key>
	<string>news-90eec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646832870680:ios:35bf2cf4cf1f7ee758fa6d</string>
</dict>
</plist>